@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent linear-gradient(180deg, #723B8EF7 0%, #5B49BC 100%, #888CE6 100%) 0% 0% fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  @apply font-montserrat text-3xl text-white text-center mb-8 uppercase;
}

h2 {
  @apply font-montserrat text-xl text-white text-center mb-8 uppercase;
}

h3 {
  @apply px-4 font-montserrat text-lg text-white text-left mb-6;
}


p{
  @apply px-4 text-white font-catamaran;
}